@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
    /* Font settings */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: var(--text-primary);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #114357;  /* fallback for old browsers */
    background: -webkit-linear-gradient(125deg, #000000, #114357 55%, #8f6976);
    background: linear-gradient(125deg, #000000, #114357 55%, #8f6976);

    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
    padding: 0;
    min-width: fit-content;
}